cask "{cask_name}" do
  version "{sdk_version},{runtime_version}"
  sha256 :no_check

  url "https://github.com/isen-ng/homebrew-dotnet-sdk-versions/raw/master/META.md"
  name ".NET Core SDK #{version.csv.first}"
  desc "This cask follows releases from https://github.com/dotnet/core/tree/master"
  homepage "https://github.com/isen-ng/homebrew-dotnet-sdk-versions"

  depends_on cask: "{depends_on_cask}"
  depends_on macos: "{depends_on_macos}"

  stage_only true
end
